{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    {% include 'base/meta.html' %}
    <title> {% block 'title' %} {% endblock %} - CampusTimes</title>
    <style>
        @import url("{% static 'vendor/Montserrat/Montserrat-VariableFont_wght.ttf' %}");
        @import url("{% static 'vendor/Montserrat/Montserrat-Italic-VariableFont_wght.ttf' %}");
        *:not(.fa, .fas, .fad) {
            font-family: 'Montserrat'!important;
        }

        :root {
            --app-primary-color: #2e4053
        }
    </style>
</head>

<body>
     <!-- <header>
       }
    </header>
    <div class="container-fluid">
        <div class="row"> -->
           
        
           <main class="">
                {% block 'main' %}
                {% endblock %}
            </main> 

       
         <!-- </div>
    </div> -->
   
</body>
</html>