{% extends 'auth/base.html' %}
{% load static %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}
    <div class="container">
        <h1 class="mt-4">Réinitialisation de mot de passe</h1>
        <p class="mb-4">Bonjour {{ user.username }},</p>
        <p>Vous avez demandé une réinitialisation de mot de passe pour votre compte.</p>
        <p>Cliquez sur le bouton ci-dessous pour réinitialiser votre mot de passe :</p>
        <a href="{{ reset_link }}" class="btn btn-primary">Réinitialiser</a>
        <p class="mt-4" style="color: red !important;">Ce lien expirera dans 2 heures a partir de maintenant .</p>
        <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer ce message. Aucune action supplémentaire n'est requise.</p>
        <p class="mt-2">Merci, <br> L'équipe technique de CampusTimes
        </p>
    </div>
{% endblock %}