{% extends 'auth/base.html' %}
{% load static %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}

    <!-- Ecrivez le code ici -->
    <div class="haut">
        <p>Vous n'avez pas de compte?<a href="#">creer un compte!</a></p>
    </div>
    
    <div class="donc">
        <div class="yes">
            
            <h1>Mot de passe Oublié? </h1>
            
        </div>
        <p>Entrez votre email pour reinitialiser votre mot de passe </p>
        <form>
          <input type="email"  name="code" placeholder="Email" class="mail" >
          <input type="submit" value="Submit" class="edit">
            
          <input type="submit" value="cancel" class="edite">
        </form>
    </div>    
    <div class="image-container">
            
           <img src={% static \img\IMG-20230614-WA0117.jpg %}  alt="">
           <h2>Welcome to Itime!</h2>
          
        

           <p>Site de consultation des emplois du temps de L'IFRI</p>
           <div class="links">     
                <a href="#">Privacy</a>
                
                <a href="#">Legal</a>
                
                <a href="#">Contact</a>
            </div>
        <footer>
           &copy; 2023 IFRI
               
                
        </footer>
    </div> 



 {% endblock %}
 {% block 'style'  %}
 <style>
.donc {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-right: 100px;
    margin-top: 100px;
  }
  
  .yes {
    text-align: justify;
    
  
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }

  
  
  input[type="submit"] {
    /* display: block; */
    width: 110px;
    padding-top: 5px;
    padding: 10px;
    /* background-color:rgb(127, 127, 146); */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: auto;
    
  }
  .mail{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(155, 155, 155);
  }
  .mail:focus{
    outline: none;
    border-color: #0088cc;
    box-shadow: 0 0 5px #0088cc;
  }
  .mail:placeholder{
    color: #999;
  }
  .edit:hover {
    background-color:rgb(68, 68, 241);
  }
   .edit:active {
  background-color:rgb(77, 77, 224)
   }  
   /* .edite:hover {
    background-color:rgb(68, 68, 241);
  }
   .edite:active {
  background-color:rgb(77, 77, 224)
   }   */
  .edite{
    background-color: rgb(182, 180, 180);
    border-style: solid ;
  }
  .edit {
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: blue;
}
  .cancel{
    margin-top: 10px;
    margin-left: 200px;
   
    background-color: white;
    text-decoration-color: #0088cc;
  }
  .haut{
    margin-left: 1000px;
  }
 
 .image-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.image-container img{
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.image-container h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.image-container p{
  position:absolute;
    bottom: 10%;
    text-align: center;
    color: #fff;
    margin-left: 200px;
    margin-bottom: 200px;
}
.image-container .links{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}
 .image-container .links a{
  margin: 0 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
 }
 .image-container footer{
  position: absolute;
  bottom: 10px;
  text-align: center;
 }

 </style>
 {% endblock %}