{% extends 'auth/base.html' %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}

    <!-- Ecrivez le code ici -->
    <h1>Forgot Password Page</h1>
    <section class="pop">
        <br>

 <p class="bon"><a  href="">S'inscrire</a></p>
        
    <img src="static/imggit o/im2.jpg" class="im2" alt="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="pot">Bienvenue sur IFRITime</h1>
    <br>
    <div class="col">
        <p >Avez-vous oublier votre mot de passe? </p>
        <p>Veuillez mettre votre email dans le champs à droite .</p>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <p class="toto">&copy;2023  IFRITime</p>
    <br>
    
    </section>
    <div >
        <h2 class="zozo">Mot de passe oublié ?</h2>
        <p class="passe">Entrer votre email pour réinitialiser votre mot de passe. </p>
        <br>
        <br>
        <form action="">
            <label for="email"></label>
            <input type="email" name="email" class="petit" placeholder="  Email">
            <br>
            <br>
            <label for="submit"></label>
            <input type="submit" class="submit" name="submit" value="Soumettre">
            
            <input type="reset" value="Cancel" class="ok">
        </form>

    </div>
    


</body>
</html>

{% endblock %}