{% extends 'auth/base.html' %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}

    <!-- Ecrivez le code ici -->
    <div class="haut">
        <p>Vous n'avez pas de compte?<a href="#">creer un compte!</a></p>
    </div>
    
    <div class="donc">
        <div class="yes">
            
            <h1>Mot de passe Oublié? </h1>
            
        </div>
        <p>Entrez votre email pour reinitialiser votre mot de passe </p>
        <form>
          <input type="email"  name="code" placeholder="Email" class="mail" >
          <input type="submit" value="Submit" class="edit">
            
          <input type="submit" value="cancel" class="edite">
        </form>
    </div>    
    <div class="image-container">
            
           <img src="static\img\IMG-20230614-WA0117.jpg"  alt="">
           <h2>Welcome to Itime!</h2>
          
        

           <p>Site de consultation des emplois du temps de L'IFRI</p>
           <div class="links">     
                <a href="#">Privacy</a>
                
                <a href="#">Legal</a>
                
                <a href="#">Contact</a>
            </div>
        <footer>
           &copy; 2023 IFRI
               
                
        </footer>
    </div> 



 {% endblock %}