{% extends 'auth/base.html' %}
{%load static%} 

{% block 'title' %} Se Connecter {% endblock %}

{% block 'main' %}

    <!-- Ecrivez le code ici -->
  <body class="corp">
            <img src="{%static 'img/Sans_titre-removebg-preview(1).png' %} alt="kkk">
            <div class="tito">
            <strong><h2>Bienvenue sur Campus Times!</h2></strong>
            <p>Consultez vos emplois du temps facilement sur votre <br>application web Campus Times. <br> Avec Campus Times, <br><strong>Gérez,Profitez,Réussissez... <strong></strong></p>
            </div>
            <div class="cont">
                <div class="toto">
            Vous n'avez pas encore de compte ?<a href="register.html">Inscrivez-vous!</a>
                </div>
            <div class="tt">
                <h1>Connexion</h1>
                Entrez votre identifiant et votre mot de passe. <br>
                <input type="text" placeholder="Identifiant"><br>
                <input type="password" placeholder="Mot de passe"><br>
                <a href="forgot-password.html">Mot de passe oublié?</a>
                <button type="submit">Se connecter</button>
            </div>
            </div>
            
        </body>
    </html>

{% endblock %}

