{% extends 'auth/base.html' %}
{% load static %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow">
          <div class="card-body">
            <h1 class="card-title text-center mb-4">Réinitialisation de mot de passe - Confirmation</h1>
            <p class="card-text text-center">Un e-mail contenant les instructions pour réinitialiser votre mot de passe a été envoyé à votre adresse e-mail. Veuillez consulter votre boîte de réception.</p>
            <div class="text-center">
              <a href="/" class="btn btn-primary mt-4">Retour à l'accueil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


