
    <div class="container">
        <div class="row my-5">
            <h3 class="fs-4 mb-3">Emploi du temps</h3>
            <div class="col">
                <table class="table bg-white rounded shadow-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="100">Horaire</th>
                            <th scope="col">Lundi</th>
                            <th scope="col">Mardi</th>
                            <th scope="col">Mercredi</th>
                            <th scope="col">Jeudi</th>
                            <th scope="col">Vendredi</th>
                            <th scope="col">Samedi</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">7:00 - 10:00</th>
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-account-edit-outline me-2"></i>
                                    <input type="text" class="form-control" value="Zohou Jerome - Algorithmique">
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-map-marker-outline me-2"></i>
                                    <input type="text" class="form-control" value="Salle Iran 1">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-account-edit-outline me-2"></i>
                                    <input type="text" class="form-control" value="Doumate - Langage C">
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-map-marker-outline me-2"></i>
                                    <input type="text" class="form-control" value="Salle Iran 2">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-account-edit-outline me-2"></i>
                                    <input type="text" class="form-control" value="John Aoga - Python">
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-map-marker-outline me-2"></i>
                                    <input type="text" class="form-control" value="Salle Padtice">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-account-edit-outline me-2"></i>
                                    <input type="text" class="form-control"
                                        value="Cica Olympio - Architecture des réseaux">
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-map-marker-outline me-2"></i>
                                    <input type="text" class="form-control" value="Salle A1000">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-account-edit-outline me-2"></i>
                                    <input type="text" class="form-control" value="Jean Koudi - Numération">
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-map-marker-outline me-2"></i>
                                    <input type="text" class="form-control" value="Salle Etisalat">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-account-edit-outline me-2"></i>
                                    <input type="text" class="form-control"
                                        value="Hounzame Vladimir - Logique des prédicats">
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="mdi mdi-map-marker-outline me-2"></i>
                                    <input type="text" class="form-control" value="Salle B500">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <button class="btn btn-sm btn-danger me-2"><i class="mdi mdi-delete"></i>
                                        Supprimer</button>
                                    <button class="btn btn-sm btn-primary"><i class="mdi mdi-pencil"></i>
                                        Modifier</button>
                                </div>
                            </td>
                        </tr>
                        <!-- ... Ajoutez d'autres lignes ici pour chaque élément de l'emploi du temps ... -->
                    </tbody>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary"><i class="mdi mdi-plus"></i> Ajouter un élément</button>
                </div>
            </div>
        </div>
    </div>

   

