<div class="table-responsive">
  <table class="table table-bordered text-center">
      <thead>
          <tr class="bg-light-gray">
              <th class="text-uppercase">Time
              </th>
              <th class="text-uppercase">Monday</th>
              <th class="text-uppercase">Tuesday</th>
              <th class="text-uppercase">Wednesday</th>
              <th class="text-uppercase">Thursday</th>
              <th class="text-uppercase">Friday</th>
              <th class="text-uppercase">Saturday</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="align-middle">09:00am</td>
              <td>
                  <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Dance</span>
                  <div class="margin-10px-top font-size14">9:00-10:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                  <div class="margin-10px-top font-size14">9:00-10:00</div>
                  <div class="font-size13 text-light-gray">Marta Healy</div>
              </td>

              <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                  <div class="margin-10px-top font-size14">9:00-10:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td>
                  <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                  <div class="margin-10px-top font-size14">9:00-10:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td>
                  <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                  <div class="margin-10px-top font-size14">9:00-10:00</div>
                  <div class="font-size13 text-light-gray">Kate Alley</div>
              </td>
              <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                  <div class="margin-10px-top font-size14">9:00-10:00</div>
                  <div class="font-size13 text-light-gray">James Smith</div>
              </td>
          </tr>

          <tr>
              <td class="align-middle">10:00am</td>
              <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                  <div class="margin-10px-top font-size14">10:00-11:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td class="bg-light-gray">

              </td>
              <td>
                  <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                  <div class="margin-10px-top font-size14">10:00-11:00</div>
                  <div class="font-size13 text-light-gray">Kate Alley</div>
              </td>
              <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                  <div class="margin-10px-top font-size14">10:00-11:00</div>
                  <div class="font-size13 text-light-gray">Marta Healy</div>
              </td>
              <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                  <div class="margin-10px-top font-size14">10:00-11:00</div>
                  <div class="font-size13 text-light-gray">James Smith</div>
              </td>
              <td class="bg-light-gray">

              </td>
          </tr>

          <tr>
              <td class="align-middle">11:00am</td>
              <td>
                  <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                  <div class="margin-10px-top font-size14">11:00-12:00</div>
              </td>
              <td>
                  <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                  <div class="margin-10px-top font-size14">11:00-12:00</div>
              </td>
              <td>
                  <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                  <div class="margin-10px-top font-size14">11:00-12:00</div>
              </td>
              <td>
                  <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                  <div class="margin-10px-top font-size14">11:00-12:00</div>
              </td>
              <td>
                  <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                  <div class="margin-10px-top font-size14">11:00-12:00</div>
              </td>
              <td>
                  <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                  <div class="margin-10px-top font-size14">11:00-12:00</div>
              </td>
          </tr>

          <tr>
              <td class="align-middle">12:00pm</td>
              <td class="bg-light-gray">

              </td>
              <td>
                  <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                  <div class="margin-10px-top font-size14">12:00-1:00</div>
                  <div class="font-size13 text-light-gray">Kate Alley</div>
              </td>
              <td>
                  <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                  <div class="margin-10px-top font-size14">12:00-1:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                  <div class="margin-10px-top font-size14">12:00-1:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td class="bg-light-gray">

              </td>
              <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                  <div class="margin-10px-top font-size14">12:00-1:00</div>
                  <div class="font-size13 text-light-gray">Marta Healy</div>
              </td>
          </tr>

          <tr>
              <td class="align-middle">01:00pm</td>
              <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                  <div class="margin-10px-top font-size14">1:00-2:00</div>
                  <div class="font-size13 text-light-gray">James Smith</div>
              </td>
              <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                  <div class="margin-10px-top font-size14">1:00-2:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
              <td class="bg-light-gray">

              </td>
              <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                  <div class="margin-10px-top font-size14">1:00-2:00</div>
                  <div class="font-size13 text-light-gray">James Smith</div>
              </td>
              <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                  <div class="margin-10px-top font-size14">1:00-2:00</div>
                  <div class="font-size13 text-light-gray">Marta Healy</div>
              </td>
              <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                  <div class="margin-10px-top font-size14">1:00-2:00</div>
                  <div class="font-size13 text-light-gray">Ivana Wong</div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</div>
{{data}}







{% block styles %}
<style>
  table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
        }
 .body{
    margin-top:20px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
/* Styles pour le titre */
.timetable-title {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
</style>
{% endblock %}
<!-- <div class="timetable-img text-center py-3">
  <h3 class="text-decoration-underline"> Emploi du temps de la {{ level.label }} </h3>
</div>
<div class="d-flex justify-content-between mb-4">
  <div>
    <select name="" id="switchWeek" class="form-select">
      <option value="{{ current_week }}" selected disabled>Filtrer Par Semaine</option>
      {% for w in all_week %}
      <option value="{{ w }}"> Semaine du {{ w }} </option>
      {% endfor %}
    </select>
  </div>
  <div class="d-flex">
    <a href="javascript:void(0)" class="btn btn-primary mx-2" id="printBtn">Télécharger</a>
    {% if user.is_superuser or user.is_staff %}
    <a href="javascript:void(0)" class="btn btn-success mx-2" data-bs-toggle="modal"
      data-bs-target="#addSchedule">Créer</a>
    {% endif %}
  </div>
</div>
<div class="modal fade" id="addSchedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="level_id" value="{{ level.id }}">
      <input type="hidden" name="weekNum" id="weekId">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Emploi du temps de la {{ level.label }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="my-3 text-start">
            <label for="teacher_id" class="form-label">Professeur:</label>
            <select name="teacher_id" id="teacher_id" class="form-select form-control">
              <option value="default" disabled>Selectionner le nom du professeur</option>
              {% for t in teachers %}
              <option value="{{ t.id }}"> {{ t.first_name }} {{ t.last_name }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="my-3 text-start">
            <label for="subject_id" class="form-label">Matière:</label>
            <select name="subject_id" id="subject_id" class="form-select form-control">
              <option value="default" disabled>Selectionner une matière</option>
              {% for t in matieres %}
              <option value="{{ t.id }}"> {{ t.label }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="my-3 text-start">
            <label for="classroom_id" class="form-label">Salle de cours:</label>
            <select name="classroom_id" id="classroom_id" class="form-select form-control">
              <option value="default" disabled>Selectionner une salle de cours</option>
              {% for t in classrooms %}
              <option value="{{ t.id }}"> {{ t.label }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="my-3 text-start">
            <label for="start_time_id" class="form-label">Date et heure de début</label>
            .
            <input type="datetime-local" name="start_time" id="start_time_id" class="form-control" required>
          </div>
          <div class="my-3 text-start">
            <label for="end_time_id" class="form-label">Date et heure de fin</label>
            <input type="datetime-local" name="end_time" id="end_time_id" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Créer</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Professeur</th>
        <th>Matière</th>
        <th>Salle de cours</th>
        <th>Date et heure de début</th>
        <th>Date et heure de fin</th>
        {% if user.is_superuser or user.is_staff %}
        <th>Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedules %}
      <tr>
        <td>{{ schedule.teacher.first_name }} {{ schedule.teacher.last_name }}</td>
        <td>{{ schedule.subject.label }}</td>
        <td>{{ schedule.classroom.label }}</td>
        <td>{{ schedule.start_time }}</td>
        <td>{{ schedule.end_time }}</td>
        {% if user.is_superuser or user.is_staff %}
        <td>
          <a href="javascript:void(0)" class="btn btn-primary btn-sm">Modifier</a>
          <a href="javascript:void(0)" class="btn btn-danger btn-sm">Supprimer</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> -->