<div class="row my-5 mx-2" id="mainPage">
    <h3 class="fs-4 mb-3">Emploi du temps</h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm table-hover">
            <thead>
                <tr>
                    <th scope="col" width="100">Horaire</th>
                    <th scope="col">Lundi</th>
                    <th scope="col">Mardi</th>
                    <th scope="col">Mercredi</th>
                    <th scope="col">Jeudi</th>
                    <th scope="col">Vendredi</th>
                    <th scope="col">Samedi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">7:00 - 10:00</th>
                    <td>Zohou Jerome - Algorithmique<br>Salle Iran 1</td>
                    <td>Doumate - Langage C<br>Salle Iran 2</td>
                    <td>John Aoga - Python<br>Salle Padtice</td>
                    <td>Cica Olympio - Architecture des réseaux<br>Salle A1000</td>
                    <td>Jean Koudi - Numération<br>Salle Etisalat</td>
                    <td>Hounzame Vladimir - Logique des prédicats<br>Salle B500</td>
                </tr>
                <tr>
                    <th scope="row">10:00 - 13:00</th>
                    <td>Eugene Ezin - Analyse Mathématique<br>Salle Iran 1</td>
                    <td>Probus Kiki - Logique assertionnelle<br>Salle Iran 2</td>
                    <td>Olatumbosun - Probabilité<br>Salle Padtice</td>
                    <td>Zohou Jerome - Statistique<br>Salle A1000</td>
                    <td>Doumate - Développement web<br>Salle Etisalat</td>
                    <td>John Aoga - Théorie des graphes<br>Salle B500</td>
                </tr>
                <tr>
                    <th scope="row">13:00 - 16:00</th>
                    <td>Cica Olympio - Algorithmique<br>Salle Iran 1</td>
                    <td>Jean Koudi - Langage C<br>Salle Iran 2</td>
                    <td>Hounzame Vladimir - Python<br>Salle Padtice</td>
                    <td>Eugene Ezin - Architecture des réseaux<br>Salle A1000</td>
                    <td>Probus Kiki - Numération<br>Salle Etisalat</td>
                    <td>Olatumbosun - Logique des prédicats<br>Salle B500</td>
                </tr>
                <tr>
                    <th scope="row">16:00 - 19:00</th>
                    <td>Zohou Jerome - Analyse Mathématique<br>Salle Iran 1</td>
                    <td>Doumate - Logique assertionnelle<br>Salle Iran 2</td>
                    <td>John Aoga - Probabilité<br>Salle Padtice</td>
                    <td>Cica Olympio - Statistique<br>Salle A1000</td>
                    <td>Jean Koudi - Développement web<br>Salle Etisalat</td>
                    <td>Hounzame Vladimir - Théorie des graphes<br>Salle B500</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>