<div class="container">
    <div class="my-3 d-flex justify-content-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubject">
            <i class="mdi mdi-plus"></i>
            Ajouter
        </button>
        <div class="modal fade" id="addSubject" tabindex="-1" aria-labelledby="addSubjectLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSubjectLabel">Ajouter une matière</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'matiere' %}" class="ajaxForm">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="POST">
                            <div class="my-3 text-start">
                                <label for="label_id" class="form-label">Nom de la matière</label>
                                <input type="text" name="label" id="label_id" class="form-control"
                                    placeholder="Ex: Anglais">
                            </div>
                            <div class="my-3 text-start">
                                <label for="code_id" class="form-label">Code de la matière</label>
                                <input type="text" name="code" id="code_id" class="form-control"
                                    placeholder="Ex: 16666R">
                            </div>
                            <div class="my-3 text-start">
                                <label for="total_times_id" class="form-label">Nombre total d'heure de la
                                    matiere</label>
                                <input type="number" name="total_times" id="total_times_id" class="form-control"
                                    placeholder="Ex: 2 pour 2heure">
                            </div>
                            <div class="my-3 text-start">
                                <label for="level_id" class="form-label">Selectionner le niveau associé à la
                                    matiere</label>
                                <select name="level_id" id="level_id" class="form-select form-control">
                                    <option value="default" disabled>---Select one---</option>
                                    {% for level in levels %}
                                    <option value="{{ level.id }}"> {{ level.label }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="text-center my-3">
                                <button type="submit" class="btn btn-dark w-50 mx-auto submit">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% if state.error %}
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ state.error }}
        </div>
        {% endif %}
        {% if state.success %}
        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ state.success }}
        </div>
        {% endif %}
    </div>
    <table class="table table-striped table-hover text-center">
        <thead style="background-color: #3F4254 ; color: white;">
            <tr>
                <th class="text-uppercase">Nom Matière</th>
                <th class="text-uppercase">Total d'heure</th>
                <th class="text-uppercase">Filière associée</th>
                <th class="text-uppercase">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for matiere in matiers %}
            <tr>
                <td> {{ matiere.label }} </td>
                <td>
                    <div class="badge bg-primary">
                        {{ matiere.total_times }}
                    </div>
                </td>
                <td> {{ matiere.level.label }} </td>
                <td>
                    <button class="btn btn-sm btn-primary btn-icon edit-btn" style="margin-right: 10px !important;"
                        data-bs-toggle="modal" data-bs-target="#editModal{{matiere.id}}"><i
                            class="mdi mdi-pencil"></i></button>
                    <button class="btn btn-sm btn-danger btn-icon delete-btn" data-bs-toggle="modal"
                        data-bs-target="#destroyModal{{matiere.id}}"><i class="mdi mdi-delete-outline"></i></button>
                    <div class="modal fade" id="destroyModal{{matiere.id}}" tabindex="-1"
                        aria-labelledby="destroyModal{{matiere.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="destroyModal{{matiere.id}}">Suppression
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'matiere' %}" method="post" class="modal-body ajaxForm">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="DELETE">
                                        <input type="hidden" name="subject_id" value="{{ matiere.id }}">
                                        <h4>Voulez-vous vraiment supprimer {{ matiere.label }} </h4>
                                        <div class="text-center my-3">
                                            <button type="submit" class="btn btn-danger w-25 mx-auto">
                                                Oui, OK
                                            </button>
                                            <button type="button" class="btn btn-primary w-25 mx-auto"
                                                data-bs-dismiss="modal" aria-label="Close">
                                                Annuler
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editModal{{matiere.id}}" tabindex="-1" aria-labelledby="editModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Editer {{ matiere.label }} </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'matiere' %}" method="post" class="ajaxForm">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="PATCH">
                                        <input type="hidden" name="subject_id" value="{{ matiere.id }}">
                                        <div class="my-3 text-start">
                                            <label for="label_id" class="form-label">Nom de la matière</label>
                                            <input type="text" name="label" id="label_id" class="form-control"
                                                placeholder="Ex: Anglais" value="{{ matiere.label }}">
                                        </div>
                                        <div class="my-3 text-start">
                                            <label for="code_id" class="form-label">Code de la matière</label>
                                            <input type="text" name="code" id="code_id" class="form-control"
                                                placeholder="Ex: 16666R" value="{{ matiere.code }}">
                                        </div>
                                        <div class="my-3 text-start">
                                            <label for="total_times_id" class="form-label">Nombre total d'heure de la
                                                matiere</label>
                                            <input type="number" name="total_times" id="total_times_id"
                                                class="form-control" placeholder="Ex: 2 pour 2heure"
                                                value="{{ matiere.total_times }}">
                                        </div>
                                        <div class="my-3 text-start">
                                            <label for="level_id" class="form-label">Selectionner le niveau associé à la
                                                matiere</label>
                                            <select name="level_id" id="level_id" class="form-select form-control">
                                                <option value="default" disabled>---Select one---</option>
                                                {% for level in levels %}
                                                <option value="{{ level.id }}" {% if matiere.level.id == level.id %}
                                                    selected {% endif %}> {{ level.label }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="text-center my-3">
                                            <button type="submit" class="btn btn-dark w-50 mx-auto submit">Mise à
                                                jour</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $(".ajaxForm").each(function (k, elt) {

            $(this).on('submit', function (e) {
                e.preventDefault();

                $(elt).parents('.modal').find('.btn-close').click();

                const formData = $(this).serialize();

                $.ajax({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (data) {
                        $("#mainPage").html(data);
                    },
                    error: function (err) {
                        $("#mainPage").html(err.responseText);
                    },
                })
            })
        })
    })
</script>